<body>

    <h1>Add Student (MongoDB)</h1>

            <form action="/employeesMongoDB/add>" method="post">
                <label>EID</label>
                <input type="text" name="eid" value=""><br>
                <label>Phone</label>
                <input type="text" name="phone" value=""><br>
                <label>Email</label>
                <input type="text" name="email" value="">
               
                <input type="submit" value="Add">
            </form>

</body>

<ul></ul>
<a href="/">Home</a>