<td>
    
 
    <a href="/employeesMongoDB/add">Add Employee (MongoDB)</a>
    <ul></ul>
</td>
<table border="1">
    <tr>
        <th>EID</th>
        <th>Phone</th>
        <th>Email</th>


    </tr>

    <% person.forEach((p)=> { %>
        <tr>
            <td>
                <%= p._id %>
            </td>
            <td>
                <%= p.phone %>
            </td>
            <td>
                <%= p.email %>
            </td>






        </tr>
        <% }) %>


</table>

<a href="/">Home</a>